<div class="candidate-details">
    <h1>{{candidate.name}}</h1>
    <h2>{{candidate.office}}  {{candidate.year}}</h2>
    <span class="candidate-total">{{candidate.total_contributions | currency}}
</span></div>
<div ng-controller="CandidateMonthlyController" ng-include="'partials/candidate_monthly.html'"></div>
<!--<div class="occupation-pie" d3 d3-data="candidate.occupations" d3-renderer="occupationPieRenderer">-->
    <!--<h3>Top Occupations</h3>-->
<!--</div>-->
<div class="mini-graph">
    <h3>Top Employers</h3>
    <hr>
    <svg d3="" d3-data="candidate.employers" d3-renderer="nameTotalBarGraph" class="candidate-employer-graph"></svg>
</div>
<div class="mini-graph">
    <h3>Top Occupations</h3>
    <hr>
    <svg d3="" d3-data="candidate.occupations" d3-renderer="nameTotalBarGraph" class="candidate-occupation-graph"></svg>
</div>
<div class="mini-graph">
    <h3>Top Contributors</h3>
    <hr>
    <svg d3="" d3-data="candidate.contributors" d3-renderer="nameTotalBarGraph" class="candidate-contributor-graph"></svg>
</div>



<div class="mini-map">
    <h3>Top Zip Code:</h3>
    <hr>
    <p>
        {{borough}} -  {{zipCode}}<br>
        {{zipTotal | currency}}
    </p>
    <div id="mini_map"></div>
</div>