__pycache__/
EC2013_contributions_stmt10_20130805.csv
meta.json
axial.js
data_files/1.csv
data_files/10.csv
data_files/11.csv
data_files/12.csv
data_files/13.csv
data_files/14.csv
data_files/2.csv
data_files/3.csv
data_files/4.csv
data_files/5.csv
data_files/6.csv
data_files/7.csv
data_files/8.csv
data_files/9.csv
data_files/0_candidates_19_12_2013_220735.csv
data_files/0_intermediaries_21_12_2013_041821.csv
data_files/2013_contribution_121613.csv
data_files/7_2.csv
*.csv
data_files/nyc-zip-code-tabulation-areas-polygons-1-expanded.geojson
data_files/test.geojson
data_files/test2.geojson
data_files/nyc-zip-code-tabulation-areas-polygons-1.geojson
dal.py
