<div class="mini-line-graph">
    <h3>Monthly Contributions</h3>
    <hr>
    <svg d3 d3-data="months" d3-renderer="candidateMonthlyGraphRenderer" class="candidate-monthly-graph"></svg>
    <!--<div class="key">-->
        <!--<div class="month-total"><hr>Total</div>-->
        <!--<div class="month-contrib"><hr>Contributions</div>-->
        <!--<div class="month-match"><hr>Matching Funds</div>-->
    <!--</div>-->
</div>

<div class="candidate-monthly-tooltip" id="candidate_monthly_tooltip">
    <p><span>Date:</span> {{month}}/{{year}}</p>
    <p><span>Total:</span> {{month_total | currency}}</p>
</div>