<div class="nav"><nav><a class="breadcrumb" href="/">Offices</a> > <span>City Map</span></nav></div>
<loader></loader>
<div class="city-map" style="display: none;">
    <div class="city-zip-details">
        <h1>{{zip_code}} - {{position}} <span class="sub-text">in contributions</span></h1>

        <h2>{{borough}}</h2>
        <h2>{{count_contributors}} Contributors</h2>
        <span class="zip-math">Matching Funds: {{match | currency}}</span><br>
        <span class="zip-contributions">Contributions: {{contributions | currency}}</span><br>
        <span class="zip-total">Total: {{total | currency}}</span>
    </div>
    <div id="map_key"></div>
    <div id="city_map"></div>
</div>