<div class="mini-graph">
    <a class="city-link" href="/city/" title="Citywide Breakdown">City Wide Break Down by Zip Code.</a>
    <h3>Offices</h3>
    <hr>
    <ul>
        <li ng-click="byTotal($event)" class="chart-option active-option">Total Funds</li>
        <li ng-click="byContributions($event)" class="chart-option">Contributions</li>
        <li ng-click="byMatch($event)" class="chart-option">Matching Funds</li>
        <li ng-click="byContributors($event)" class="chart-option">Number of Contributors</li>
    </ul>
    <loader></loader>
    <svg d3 d3-data="offices" d3-renderer="officeBubble" class="office-bubble"></svg>
</div>
<div id="office_details" class="office-details tooltip" ng-class="displayClass" ng-click="displayClass=''">
    <ul>
        <li>{{name}}</li>
        <li>{{value}}</li>
    </ul>
</div>
