<!--<ul d3 d3-data="offices" d3-renderer="officeRenderer" class="candidate-offices">-->
    <!--<a ng-repeat="office in offices" ng-href="#/office/{{office.id}}">-->
        <!--<li >-->
           <!--{{office.office}}-->
               <!--<span class="office-total">{{office.total | currency}}</span>-->
        <!--</li>-->
    <!--</a>-->
<!--</ul>-->
<div class="mini-graph">
    <h3>Candidate Offices</h3>
    <hr>
    <svg d3 d3-data="offices" d3-renderer="wiggleBarGraph" class="office-wiggle-bar"></svg>
</div>