$link: #0015ec;

$scale0: #034e7b;
$scale1: #0c2c84;
$scale2: #225ea8;
$scale3: #1d91c0;
$scale4: #41b6c4;
$scale5: #7fcdbb;
$scale6: #c7e9b4;
$scale7: #ffffcc;
$scale8: #f7fcb9;
$scale9: #d9f0a3;
$scale10: #addd8e;
$scale11: #78c679;
$scale12: #41ab5d;
$scale13: #238443;
$scale14: #006837;
$scale15: #004529;

body {
  padding: 10px;
  font-family: Helvetica Neue, Helvetica, Arial;
  color: #18171B;
}

body > div {
  width: 40em;
  padding: 0.625em;
  /* border: 1px solid black;
  border-radius: 5px;
  background-color: #e4eaf0;
  box-shadow: 10px 10px darkslategray; */
}

svg {
//  border: 1px solid black;
  margin: 0;
}


a {
  color: $link;
  text-decoration: underline;

  &:hover {
    color: #18171B;
    text-decoration: none;
  }
}

h1, h2 {
  margin: 0;
}

h3 {
  margin: 10px 0 5px 0;
  font-weight: 400;
  font-size: 1.5em;
}

hr {
  border-style: solid;
  border-width: 1px 0 0 0;
  margin: -5px 0 5px 0;
  border-color: #18171B;
}

.candidate-details,
.city-zip-details {
  width: 40rem;
  /*padding: 0 .625rem;
  background-color: #ADACC2;
  border-radius: 5px; */
  border-bottom: 1px solid black;

  h1,h2 {
    padding: 0;
  }

  h2 {
    font-weight: 300;
  }

  .candidate-total,
  .zip-total {
    font-size: 1.5em;
    font-weight: 400;
  }

}

.chart-option {
  display: inline-block;
  margin: 0 10px 10px 0;
  text-decoration: underline;
  color: $link;
  cursor: pointer;
}

.city-zip-details {
//  margin-bottom: 20px;

  .sub-text {
    font-weight: 200;
    font-size: 0.75em;
  }
}

.candidate-offices li {
  list-style-type: none;
  font-size: 1.25em;
  padding: 0.3125em;
  margin: 0.125em 0;
  border-radius: 15px 15px;
  white-space: nowrap;
  &:hover {
    color: #fff;
  }

  a {
    background-color: inherit;
  }
}

.office-total,
.zip-code-total {
  display: inline-block;
  float: right;
  color: #fff;
}

.contribution-zip-codes li {
  padding: 0.3125em;
}

.bar-label-name {
  fill: #fff;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 0.075em;
}

text.outside {
  fill: #000;
  font-weight: 500;
}

text.label-occupation-name {
  font-weight: 400;
}

.mini-graph {
  width: 640px;

  .axis {
    stroke: rgb(210, 210, 210);
    stroke-width: .5;
    fill: none;
    text {
      fill: #000;
      stroke: none;
      font-size: 0.6em;
    }
  }

}

.mini-map {

  #mini_map {
    height: 320px;
  }

  p {
    margin: 0 0 0.3125em 0;
    background-color: rgba(0, 0, 0, 0.45);
    padding: 0.3125em;
    position: absolute;
    z-index: 100;
    display: inline-block;
    width: 315px;
    margin-top: 266px;
    color: #fff;
    font-weight: 300;
  }

}

.city-map {
  #city_map {
    height: 640px;
  }
}

.bar rect {
//  stroke-width: 2;
//  stroke: #fff;
}


.office-bubble {
  width: 100%;
}

.office-wiggle-bar g:hover {
  cursor: pointer;

  text {
    text-decoration: underline;
  }
}

.wiggle-label {
  fill: #ffffff;
  font-size: 0.875em;
  font-weight: 300;
}

.candidate-bar-graph
{

  .axis text {
    font-size: 0.8em;
  }
  .vertical-bar {
    fill: #48a300;

    &:hover {
      fill: #46e300;
      cursor: pointer;
    }

    text {
      fill: #000000;
      font-weight: 300;
    }

    .vertical-bar-dash {
     stroke: #000000;
     stroke-width: 1;
    }
  }
}

.candidate-info-box {
  min-width: 370px;
  height: 6.25em;
  position: absolute;
  margin-left: 12em;

  .candidate-name {
    font-size: 2em;
    margin: 0;
    font-weight: 800;
  }

  .contribution-amount {
    font-size: 1.125em;
    margin: 0;
    font-weight: 200;
  }

  .match-amount {
    font-size: 1.125em;
    margin: 0;
    font-weight: 200;
  }

  .total-amount {
    font-size: 2em;
    margin: 0;
    font-weight: 200;
  }

  .total-contributors {
    font-size: 1.125em;
    margin: 0;
    font-weight: 200;
    width: 200px;
    display: inline-block;
  }

  .amount{ float: right; }
}

.graph-wrapper {
  overflow-x: auto;
}

.candidate-monthly-graph {
  .y text {
    font-size: 0.8em;
  }

  .candidate-month-line {
    stroke: #ff1400;
    stroke-width: 1.5;
    stroke-opacity: 1;
    fill: none;
  }

  .candidate-month-match-line {
    stroke: #0d11ff;
    stroke-width: 1;
    stroke-opacity: 1;
    fill: none;
  }

  .candidate-month-contribution-line {
    stroke: #0ce02a;
    stroke-width: 1;
    stroke-opacity: 1;
    fill: none;
  }


  .x text {
    font-size: 0.65em;
  }

  .candidate-month-point {
    stroke: #ff1400;
    fill: #fff;
    stroke-width: 1.5;
    cursor: pointer;
  }
}

.key {
  .month-total hr,
  .month-match hr,
  .month-contrib hr {
    width: 30px;
    height: 1px;
    border-top-width: 2px;
    margin-right: 5px;
    display: inline-block;
  }

  .month-total hr {
    border-top-color: #ff1400;
  }

  .month-contrib hr {
    border-top-color: #0ce02a;
  }

  .month-match hr {
    border-top-color: #0d11ff;
  }
}

.candidate-monthly-tooltip {
  position: absolute;
  border: 1px solid black;
  display: none;
  padding: 5px;
  background: #fff;
  box-shadow: 3px 3px 5px #636363;

  p {
    margin: 0;
    padding: 0;
    font-weight: 300;
    span {
      font-weight: 700;
    }
  }
}


.office-bubble g.bubble {

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.office-details {
  position: fixed;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.73);
  border-radius: 4px;
  opacity: 0;
  transition: opacity .15s;

  &.shown {
    opacity: 1;
    transition: opacity .3s;
  }

  ul {
    margin: 0;
    padding: .5em;
    list-style-type: none;
  }
}

table.funds {

  border: 1px solid black;
  border-width: 1px 0;

  tr {
    td {
      text-align: right;
      padding: 5px 5px 0 0;
    }
  }
}