body {
  padding: 10px;
  font-family: Helvetica Neue, Helvetica, Arial;
  color: #18171B;
}

body > div {
  width: 40em;
  padding: 0.625em;
  /* border: 1px solid black;
  border-radius: 5px;
  background-color: #e4eaf0;
  box-shadow: 10px 10px darkslategray; */
}

svg {
//  border: 1px solid black;
  margin: 0;
}

a {
  color: #18171B;
  text-decoration: none;

  &:hover {
    color: #18171B;
    text-decoration: underline;
  }
}

h1, h2 {
  margin: 0;
}

h3 {
  margin: 10px 0 5px 0;
  font-weight: 400;
  font-size: 1.5em;
}

hr {
  border-style: solid;
  border-width: 1px 0 0 0;
  margin: -5px 0 5px 0;
  border-color: #18171B;
}

.candidate-details {
  width: 38.75rem;
  padding: 0 .625rem;
  background-color: #ADACC2;
  border-radius: 5px;
}

.candidate-offices li {
  list-style-type: none;
  font-size: 1.25em;
  padding: 0.3125em;
  margin: 0.125em 0;
  border-radius: 15px 15px;
  white-space: nowrap;
  &:hover {
    color: #fff;
  }

  a {
    background-color: inherit;
  }
}

.office-total,
.zip-code-total {
  display: inline-block;
  float: right;
  color: #fff;
}

.contribution-zip-codes li {
  padding: 0.3125em;
}

.label text {
  fill: #fff;
  font-size: 0.875em;
  font-weight: 100;
  letter-spacing: 0.075em;
}

text.label-occupation-name {
  font-weight: 700;
}

.mini-graph {
  width: 640px;
}

.mini-map {

  #mini_map {
    height: 280px;
  }

  p {
    margin: 0 0 0.3125em 0;
    background-color: rgba(0, 0, 0, 0.45);
    padding: 0.3125em;
    position: absolute;
    z-index: 100;
    display: inline-block;
    width: 315px;
    margin-top: 226px;
    color: #fff;
    font-weight: 300;
  }

}

.bar rect {
  stroke-width: 2px;
  /* stroke: #e4eaf0; */
}

.office-wiggle-bar g:hover {
  cursor: pointer;

  text {
    text-decoration: underline;
  }
}

.wiggle-label {
  fill: #ffffff;
  font-size: 0.875em;
  font-weight: 300;
}

.candidate-bar-graph
{

  .axis text {
    font-size: 0.8em;
  }
  .vertical-bar {
    fill: #48a300;

    &:hover {
      fill: #46e300;
      cursor: pointer;
    }

    text {
      fill: #000000;
      font-weight: 300;
    }

    .vertical-bar-dash {
     stroke: #000000;
     stroke-width: 1;
    }
  }
}
.candidate-info-box {
  height: 6.25em;
  position: absolute;
  margin-left: 12em;

  .candidate-name {
    font-size: 2em;
    margin: 0;
    font-weight: 800;
  }

  .contribution-amount {
    font-size: 2em;
    margin: 0;
    font-weight: 200;
  }
}

.graph-wrapper {
  overflow-x: auto;
}
